Package: dataone-cn-metacat
Version: 0.0.4
Section: utils
Priority: optional
Architecture: amd64
Depends: dataone-cn-os-core, apache2, sun-java6-jdk, tomcat6, tomcat6-admin, libapache2-mod-jk, postgresql
Installed-Size: 1 kb
Maintainer: Matt Jones <jones@nceas.ucsb.edu>
Description: This is a metapackage that installs the metacat dependencies
that are needed to build a coordinating node instance, and then installs and
configures the Metacat system itself.
